/* google fonts */
@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);

:root{

    /* primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* neutral */
    --dark-blue: hsl(212, 21%, 14%);
    --dark-garish: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* font size */
    --paragraph: 14px;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background: var(--cream);
    font-size: var(--paragraph);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
    background: var(--white);
    border-radius: 8px;
}

.card{
    padding: 10px 0px;
}

.contenido {
    padding: 0px 10px;
}

.title{
    color: var(--dark-garish);
    font-family: 'Montserrat', sans-serif;
    margin: 10px 15px;
    font-weight: 700;
    padding: 10px;
    letter-spacing: 2px;
}

.sub-title{
    width: 190px;
    margin: 10px 20px;
    font-size: 28px;
    color: var(--dark-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.text {
    font-family: 'Fraunces', sans-serif;
    font-weight: 500;
    text-align: left;
    margin: 20px;
    font-size: var(--paragraph);
    color: var(--dark-garish);
    line-height: 1.7;
}

.imagen {
    width: 100%;
}

.img-perfume{
    object-fit: cover;
    width: 100%;
    display: block;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.values{
    display: flex;
}

.new{
    margin: 0 15px;
    color: var(--dark-cyan);
    font-size: 2.4rem;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    padding-inline-start: 15px;
    display: inline-flex;
    gap: 10px;
}

.old{
    font-size: 1rem;
    margin-top: 15px;
    margin-left: 4px;
    color: var(--dark-blue);
}

.boton{
    background-color: var(--dark-cyan);
    /* background-color: #6aafb6; */
    border-radius: 8px;
    margin: 20px 30px 0 30px;            /* margin: 20px 32px 0 32px; */
    padding: 14px 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    border: none;
    color: var(--white);
    cursor: pointer;
}

.boton:hover {
    background-color: hsl(158, 44%, 23%);
}

.boton:active {
    background-color: hsl(159, 39%, 51%);
}

.icono {
    margin-right: 10px;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
    font-size: 18px;
    position: absolute;
    bottom: 0;
}

.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

/* mibile screen */ 

@media screen and (max-width: 678px) {
    .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 430px;
    }


    .img-perfume {
        height: 300px;
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 8px;
    }

    .card {
        padding: 10px 20px;
    }

    .card .contenido {
        width: 100%;
    }

    .title {
        padding: 0;
        margin: 10px 0px;
    }

    .sub-title {
        width: 100%;
        margin: 10px 0px;
    }

    .text {
        margin: 20px 0px;
    }

    .values .new{
        margin-left: 0;
    }

   .boton {
    width: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    padding: 1.3rem;
   }
}

@media screen and (max-width: 375px) {
    .main {
        max-width: 330px;
    }
}
