/* google fonts */
@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);

:root{

    /* primary */
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);

    /* neutral */
    --dark-blue: hsl(212, 21%, 14%);
    --dark-garish: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);

    /* font size */
    --paragraph: 14px;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background: var(--cream);
    font-size: var(--paragraph);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 580px;
    height: 435px;
    background: var(--white);
    border-radius: 8px;
}

.card{
    padding: 10px 0px;
}

.contenido {
    padding: 0px 10px;
}

.title{
    color: var(--dark-garish);
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 15px;
    font-weight: 700;
    padding: 10px;
    letter-spacing: 2px;
}

.sub-title{
    width: 190px;
    margin: 10px 20px;
    font-size: 28px;
    color: var(--dark-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.text {
    font-family: 'Fraunces', sans-serif;
    font-weight: 500;
    text-align: left;
    margin: 20px 20px;
    font-size: var(--paragraph);
    color: var(--dark-garish);
    line-height: 1.7;
}

.imagen {
    width: 100%;
}

.img-perfume{
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.values{
    display: flex;
    position: relative;
}

.new{
    font-size: 33px;
    margin: 0 15px;
    color: var(--dark-cyan);
    font-size: 33px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    padding-inline-start: 15px;
}

.old{
    font-size: 14px;
    margin-top: 15px;
    margin-left: 4px;
    position: absolute;
    top: -0.37em;
    right: 5.5em;
}


.boton{
    background-color: var(--dark-cyan);
    /* background-color: #6aafb6; */
    border-radius: 8px;
    margin: 20px 30px 0 30px;            /* margin: 20px 32px 0 32px; */
    padding: 14px 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:var(--cream);
    display: inline-flex;
    align-items: center;
}

.boton:hover{
    cursor: pointer;
}

.icono {
    margin-right: 10px;
}

footer {
    width: 50%;
}

.attribution { font-size: 11px; text-align: center; font-size: 17px;}
.attribution a { color: hsl(228, 45%, 44%);}

/* mibile screen */ 

@media screen and (max-width: 475px) {

    .main{
        display: flex;
        flex-direction: column;
        width: 340px;
        height: 675px;
        padding: 0px;
        background: var(--white);
        border-radius: 10px;
    }

    .card-info{
        margin: 20px;
    }

    .title{
        color: var(--dark-garish);
        font-size: 14px;
        font-family: 'Montserrat', sans-serif;
        margin: 5px 20px;
        padding: 5px;
    }

    .sub-title{
        margin: 20px;
        font-size: 28px;
        color: var(--dark-blue);
        font-family: 'Fraunces', serif;
        font-weight: 800;
    }
    
    .img-perfume{
        object-fit: cover;
        height: 270px;
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    
    .values{
        display: flex;
    }
    
    .new{
        font-size: 33px;
        margin: 0 15px;
        color: var(--dark-cyan);
        font-size: 33px;
        font-family: 'Fraunces', serif;
        font-weight: 700;
    }
    
    .old{
        font-size: 14px;
        margin-top: 16px;
        margin-left: 4px;
        left: 11em;
    }
    
    .boton{
        background-color: var(--dark-cyan);
        border-radius: 8px;
        width: 290px;
        height: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color:var(--white);
        display: block;
    }

    .attribution { font-size: 16px; text-align: center; margin: 10px 10px; }
    .attribution a { color: hsl(228, 45%, 44%); text-decoration: none;}
   
}